/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/*==================== VARIABLES CSS ====================*/
:root {
  --header-height:48px ;



  /*========== Colors ==========*/
  /* Change favorite color */
  --primary: #2CE080;
  /* RGB color mode */
  --first-color:  rgb(44, 224, 128);
  --first-color-second: rgb(44, 224, 128);
  --first-color-alt: rgb(34, 177, 101);
  --first-color-lighter: rgba(82, 228, 150, 0.733);
  --title-color: rgb(36, 35, 41);
  --text-color: rgb(109, 106, 124);
  --text-color-light: rgb(161, 159, 173);
  --input-color: rgba(240, 255, 247, 0.945);
  --body-color: rgb(251, 251, 254);
  --form-container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Quicksand', sans-serif;

  /* font size 2px,24px*/
  --big-font-size: 38px;
  --h1-font-size: 26px;
  --h2-font-size: 22px;
  --h3-font-size: 19px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  --smaller-font-size: 12px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 4px;
  --mb-0-5: 8px;
  --mb-0-75: 12px;
  --mb-1: 16px;
  --mb-1-5: 22px;
  --mb-2: 26px;
  --mb-2-5: 30px;
  --mb-3: 34px;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}


/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin:  0 0 var(--header-height) 0;
  font-family:  var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,h2,h3,h4{
  color:var(--title-color);
  font-weight: var(--font-semi-bold);
}

 ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


a{
  text-decoration: none;
  color: #2CE080;
}

img{
  max-width: 100%;
  height: auto;
}
i{
  font-size: 36px;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 32px 0 64px;
}
/*.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}*/


.section_title{
  font-size: var(--h1-font-size);
}

.section_subtitle{
  display:block;
  font-size: var(--small-font-size);
}
/*==================== LAYOUT ====================*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
/*.container{
    max-width: 960px;
    width: calc(100% - 24px);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
 
}*/
.grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 24px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.header{
   /*width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);*/
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
    position: sticky;
    top: 0;
    z-index: 100;
}

/*==================== NAV ====================*/
.nav-app{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  z-index: 99;
  width: 100%;
  background:white;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.575);
  
  
}
.toggle {
  display: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-right: 5%;

}

.nav-item {
  margin-left: 1rem;
  }


.nav-link{
  font-size: var(--h3-font-size);
  font-weight: 500;
  color: var(--text-color);
}

.nav-link:hover{
  color: var(--primary);
}

.nav-logo {
  font-size: var(--h1-font-size);
  color: var(--primary);
  font-weight: var(--font-semi-bold);
  margin-left: 5%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/* .sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
} */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    z-index: 99;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.185);
    border-radius: 0 0 30px 30px ;
      
  }
  .nav-link{
    color: var(--text-color);
  }
  .nav-link:hover{
    color: var(--first-color);
  }
  .nav-menu.active {
    left: 0;
      
  }

  .nav-item {
    margin: 2.5rem 0;
    color: #2CE080;
  }

  .toggle {
    display: block;
    cursor: pointer;
    padding-right: 50px;
    
  }
  .toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
 
  

}

.button {
  display: inline-block;
  background-color: #FFFF;
  color: var(--text-color-light);
  border: 1px var(--first-color);
  padding: 16px;
  border-radius: 8px;
  font-weight: var(--font-medium);
}



/*==================== HOME ====================*/
.home_form-container{
  /*height: calc(100vh - var(--header-height));
  row-gap: 1rem;*/
  top:var(--header-height);
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;



}


.home_title{
  font-size: var(--small-font-size);
  color: var(--text-color);

}
  
.home_subtitle{
  font-size: var(--h1-font-size);
  
  margin-bottom: var(--mb-0-75);
  font-weight: var(--font-medium);

}
  
.home_img{
  /*width: 300px;*/
  justify-self: right;
  position: relative;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
}


/*==================== BUTTONS ====================*/

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding:16px;
    border-radius:8px ;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}
/*==================== ABOUT ====================*/
.about_data{
    text-align: center;
}
  
.about_description{
    margin-bottom: var(--mb-3);
    text-align: center;
    color: var(--title-color);
}
  
.about_img{
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}
  

/*==================== Templates ====================*/

.menu__form-container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
} 
  
.menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--form-container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3,74,40,.15);
  padding: .75rem;
}

.menu__img{
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name, .menu__preci{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name{
  font-size: var(--normal-font-size);
}

.menu__detail, .menu__preci{
  font-size: var(--small-font-size);
}

.menu__detail{
  margin-bottom: var(--mb-1);
}

.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}
  
/*==================== Templates ====================*/
.tabs-form-container {
  width: 1000px;
  margin: 50px auto;
  padding: 25px;
    
}
   
.tabs {
  display: flex;
 /* overflow-x: auto;
  -webkit-overflow-scrolling: touch;*/
}
   
.tabs li:not(:last-child) {
  margin-right: 7px;
  
}
   
.tabs li a {
  display: block;
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 12px 12px 0 0;
  background: var(--first-color-lighter);
  font-weight: var(--font-semi-bold);
  opacity: 1;
  transition: all 0.1s ease-in-out;
  color: var(--text-color);


}
   
.tabs li.active a,
.tabs li a:hover {
  opacity: 3;
  top: 0;
}
  
.tabs-content {
  position: relative;
  z-index: 10;
  padding: 25px;
  
  border-radius: 0 4px 4px 4px;
  background: var(--first-color-lighter);
}
  
.tabs-panel {
  display: none;
}
  
.tabs-panel.active {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
 
  
}
.pro_img {  /*border-radius: .5rem;*/
  justify-self: center;
  
 


  /* padding-right: 20px; */
  opacity: 1;
  
  transition: .5s ease;
  backface-visibility: hidden;

}

.templateImage{
  padding-right: 20px;
  padding-bottom: 20px;
}

.templateImage span {
  transition: .5s ease;
  opacity: 0;
  /* margin-top:50%; */
  left:0;
  /* position: absolute; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  /* justify-content: center; */

  /* width: 100%;
  height: 100%; */
}
.templateImage:hover .pro_img{
  opacity: .3;
  
  background: #383d41;
  animation-name: Preview;

}
.templateImage:hover .middle {
  opacity: 1;
}
.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*==================== SERVICES ====================*/
.profile{
  
  position: relative;
  margin: 50px auto;
  
  
  width: 800px;
  box-shadow: 0 2px 4px rgba(68, 68, 68, 0.582);
  
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; 
  overflow: auto;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
  font-size: 12px;
  text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #fff;
 /* background-color: #495057cb;*/
 background-color: transparent;
  background-image: linear-gradient(to right, #42E695 0%, #3BB2B8 51%, #84fab0 100%);
  /*border-left: 10px solid rgba(38, 212, 119, 0.966);*/
  

  
  
  
}


.tab-content{
  width: 85%;
  position: relative;
  border-radius: 10px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;

}

/*.tab-content h1{
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}*/
.avatar{
  width:200px;
  height:200px;
}	
.profilepic {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: .5;
  background-color: #383d41;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.profilepic__icon {
  color: white;
  padding-bottom: 8px;

}

.fas {
  font-size: 20px;
}
.profile__input{
  display: none;
}
.profilepic__text {
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
  text-align: center;
}
.tab-content form .row{
 display: flex;
}

.tab-content form .row .col-md-6 {
  /*width: 100%;*/
  position: relative;
 /* margin: 0 30px 30px 0;*/
  margin-top: 20px;
 
}
.tab-content form .row .col-12 {
  /*width: 100%;*/
  position: relative;
 /* margin: 0 30px 30px 0;*/
  margin-top: 25px;
 
}

.tab-content form .row .col-md-6 input{
  display: block;
  width: 100%;
  height: 40px;
  
  border: none;
  border-bottom: 2px solid var(--first-color-lighter);
  outline: none;
  font-size: 14px;
  background: transparent;
  /*border-radius: 10px 10px 10px 10px;*/
}
.tab-content form .row .col-12 input{
  display: block;
  width: 100%;
  height: 40px;
  border:none;
  border-bottom: 2px solid var(--first-color-lighter);
  outline: none;
  font-size: 14px;
  background: transparent;
  /*border-radius: 10px 10px 10px 10px;*/
}
.tab-pane form .row .message input{
  height: 60px;
  
} 

.tab-pane form .row .col-md-6 input:focus{
  border-color:var(--text-color) ;
  padding-left: 5px;
}

.tab-pane form .row .col-12 input:focus{
  border-color:var(--text-color) ;
  padding-left: 5px;
}
/* input[type="date"]{
  display:flex;
  width: 50%;
  height: 40px;
  
  border: none;
  border-bottom: 2px solid var(--first-color-lighter);
  outline: none;
  font-size: 14px;
  background: transparent;
}

input[type="date"]:focus {
  border-color:var(--text-color) ;
  padding-left: 5px;
} */


.tab-pane form .row .col-md-6 label{
  position: absolute;
  bottom: 15px;
  left: 15px;
  pointer-events: none;
  font-size: 16px;
  transition: 0.3s;
}

.tab-pane form .row .col-12 label{
  position: absolute;
  bottom: 15px;
  left: 15px;
  pointer-events: none;
  font-size: 16px;
  transition: 0.3s;
}

.tab-content form .row .col-md-6 input:focus ~ label,
.tab-content form .row .col-md-6 input:valid ~ label{
  transform: translateY(-23px);
  color: var(--text-color);
}

.tab-content form .row .col-12 input:focus ~ label,
.tab-content form .row .col-12 input:valid ~ label{
  transform: translateY(-23px);
  color: var(--text-color);
}
.tab-content form input[type=submit]{
  padding: 7px 20px;
  outline: none;
  border-radius: 15px;
  margin-top: 15px;
  background: rgba(38, 212, 119, 0.966);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}
.form-select {
 
  
  color: #494949;
  background-color: #fff;
  border: 1px solid var(--first-color-lighter);;
  border-radius: .75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 
 }
 .modal{
    position: fixed;
   margin: 50px auto;
   padding: 50px;
 }

.modal-content {
  
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btn {
  margin-top: 30px;
  /* padding: 7px 20px;
  border-radius: 15px; */
}
/*==================== PORTFOLIO ====================*/



/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== SIGN UP ====================*/
.sign-up-con {
  position: absolute;
  width: 800px;
  height: 500px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.right-con {
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  padding-left: 5px;
}
.left-con {
  

  position: relative;
  /*background-image: linear-gradient(45deg, #f046ff, #9b00e8);*/
  background-color: #2ce08086;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  color: rgb(192, 192, 192);
  font-size: 12px; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.right-con header {
  color: #2CE080;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.row{
height: 100%;
} 
.sign-up-card {
  position: relative;
  background: #fff;
  height: 100%;
  border-radius: 25px;
 
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
} 

.box {
  position: relative;
  margin: 20px;
  margin-bottom: 100px;
} 
.box img{
  position: relative;
  margin: 10px;
  margin-bottom: 10px;
  width: 300px;
} 
.right-con .sign-up-input {
  width: 230px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 50px;
  margin-top: 10px;
  
  border: 2px solid var(--first-color-lighter)
  /*-webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);*/
}
.right-con .sign-up-input:focus {
  outline: none;
  border-color:var(--text-color) ;
} 
.sign-up-form {
  position: relative;
  margin-top: 50px;
} 
.right-con .butt {
 background-color: #2ce080af;
  color: #fff;
  width: 230px;
  margin-top: 10px;
  left: 20px;
  border: none;
  border-radius: 25px;
  padding: 10px;

 /* -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);*/
} 
.right-con .butt:hover {
  background-color: #2ce080af;
}
.right-con .butt:focus {
  outline: none;
} 
.right-con .fas {
  position: relative;
  color: #2ce080af;
  left: 36px;
} 
.form-check-input:checked {
  background-color: #494949af;
  border-color: #8b8b8be0
  ;
}
.butt_out {
  background: transparent;
  color: #fff;
  width: 120px;
  border: 2px solid#fff;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
} 
.butt_out:hover {
  border: 2px solid#eecbff;
} 
.butt_out:focus {
  outline: none;
}

/*==================== log in ====================*/
/*.sign-in-con {
  display: table;
	table-layout: fixed;
	height: 100%;
	padding: 30px;
	width: 100%;
} */
/*.sign-in-card {
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: 100%;
  width: 50%;
  margin: 50px auto;
  padding: 25px;
  padding-left: 5px;
}*/

.sign-in-form header {
  color: #535755;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.rows{
  width: 100%;
  height: 100%;
}
.sign-in-card {
  position: relative;
  background: #fff;
  height: 100%;
  width: 50%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
} 


.sign-in-input {
  width: 230px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 50px;
  margin-top: 10px;
  
  border: 2px solid var(--first-color-lighter)
  /*-webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);*/
}
.sign-in-input:focus {
  outline: none;
  border-color:var(--text-color) ;
} 
.sign-in-form {
  position: relative;
  margin-top: 50px;
} 
.butt {
 background-color: #2ce080af;
  color: #fff;
  width: 230px;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  left: 20px;
 /* -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);*/
} 
.butt:hover {
  background-color: #2ce080af;
}
.butt:focus {
  outline: none;
} 
.fas {
  position: relative;
  color: #2ce080af;
  left: 36px;
} 
.butt_out {
  background: transparent;
  color: #fff;
  width: 120px;
  border: 2px solid#fff;
  border-radius: 25px;
  padding: 10px;
	
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
} 
.butt_out:hover {
  border: 2px solid#eecbff;
} 
.butt_out:focus {
  outline: none;
}

/*==================== FOOTER ====================*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}
/*========== ADMIN ==========*/


/*========== Template Form ==========*/

.templatepic {
  position: relative;
  width: 125px;
  height: 125px;
  
  overflow: hidden;
  background-color: transparent;
}
.templatepic:hover .templatepic__content {
  opacity: 1;
}

.templatepic:hover .templatepic__image {
  opacity: .5;
  background-color: #383d41;
}

.templatepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.templatepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.templatepic__icon {
  color: white;
  padding-bottom: 8px;

}

.fas {
  font-size: 20px;
}
.template__input{
  display: none;
}
.templatepic__text {
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
  text-align: center;
}

/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
  .tabs {
    display: flex;
    flex-direction: column;
   /* overflow-x: auto;
    -webkit-overflow-scrolling: touch;*/
  }
     
  .tabs li:not(:last-child) {
    margin-right: 7px;
  }
     
  .tabs li a {
    display: block;
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 0;
    background: var(--first-color-lighter);
    font-weight: var(--font-semi-bold);
    opacity: 1;
    transition: all 0.1s ease-in-out;
    color: var(--text-color);
  
  
  }
  
 
}
@media screen and (max-width: 589px){
  .tabs {
    display: flex;
    flex-direction: column;
   /* overflow-x: auto;
    -webkit-overflow-scrolling: touch;*/
  }
     
  .tabs li:not(:last-child) {
    margin-right: 7px;
  }
     
  .tabs li a {
    display: block;
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 0;
    background: var(--first-color-lighter);
    font-weight: var(--font-semi-bold);
    opacity: 1;
    transition: all 0.1s ease-in-out;
    color: var(--text-color);
  
  
  }
  .nav-item {
    margin-left: 0;
  
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home_social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home_img {
    width: 300px;
    bottom: 25%;
    
  }
  .about_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills_container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work_form-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact_form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact_container {
    justify-items: center;
  }
  .nav-item {
    margin-left: 0;
  
  }
  
  
  
  
}
@media  screen and (max-width:768px) {
  .nav-item {
    margin-left: 0;
  
  }
  .profile {
    position: relative;
    margin: 50px auto;
    width: 400px;
    box-shadow: 0 2px 4px rgba(68, 68, 68, 0.582);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    overflow: auto;
    }
    
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section_title {
    margin-bottom: var(--mb-6);
  }
  .section_title::after {
    width: 80px;
    top: 3rem;
  }
  
  .home {
    padding: 8rem 0 2rem;
  }
  .home_img {
    width: 400px;
    bottom: 10%;
   
  }
  .about_container {
    padding-top: 2rem;
  }
  .about_img img {
    width: 300px;
  }
  .tabs_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .profile_container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .steps ul, .form-row {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .steps ul li {
    width: 100%; }

  .content {
    height: 550px;
    padding-right: 30px;
    padding-left: 30px; }

  .form-file {
    margin-bottom: 20px; }

  .form-flex {
    padding: 0 40px; }

  .form-input, .form-group-flex {
    width: 100%; } 
   
    .sign-up-con {
      position: absolute;
      width: 800px;
      height: 500px;
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  

}

@media screen and (min-width: 992px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home_img {
    width: 450px;
    
  }
  .container {
    width: calc(100% - 40px);
    max-width: 100%; 
  }

  .form-group-flex {
    width: 310px; 
  } 

  
    
}

